<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
						http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
						http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd"
	default-autowire="byName">
	
	 <!-- loading resource file-->
	<context:component-scan base-package="com" />
	<context:property-placeholder properties-ref="applicationProps" />
	<util:properties id="applicationProps" location="classpath:application.properties" />
	<context:annotation-config />
	
	<!-- 使用jndi连接数据库 -->
	<bean id="dataSource" class="org.logicalcobwebs.proxool.ProxoolDataSource">
		<property name="driver">
       		<value>com.mysql.jdbc.Driver</value>
    	</property>
    	<property name="driverUrl">
        	<value>jdbc:mysql://localhost:3306/demodb?user=demo&amp;password=config&amp;autoReconnect=true&amp;autoReconnectForPools=true&amp;useunicode=true&amp;characterEncoding=utf8</value>
    	</property>
		<property name="user" value="demo"/>
		<property name="password" value="config"/>
		<property name="houseKeepingSleepTime" value="90000" />
		<property name="maximumConnectionCount" value="50" />
		<property name="minimumConnectionCount" value="10" />
		<property name="simultaneousBuildThrottle" value="50" />
		<property name="maximumConnectionLifetime" value="14400000" />
		<property name="houseKeepingTestSql" value="select now()" />
	</bean>
	
	<tx:annotation-driven transaction-manager="transactionManagerAdmin" />
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">false</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>com.admission.entity.Address</value>
				<value>com.admission.entity.Application</value>
				<value>com.admission.entity.City</value>
				<value>com.admission.entity.District</value>
				<value>com.admission.entity.Province</value>
				<value>com.admission.entity.FamilyMember</value>
				<value>com.admission.entity.User</value>
				<value>com.admission.entity.News</value>
				<value>com.admission.entity.Parameter</value>
			</list>
		</property>
	</bean>
	
	<bean id="transactionManagerAdmin"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
</beans>